<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= current_page.data.title || "The Middleman" %></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "base" %>

    <%= javascript_include_tag "vendor/modernizr-2.8.3.min" %>
    <%= javascript_include_tag "vendor/respond.min" %>
  </head>

  <body class="<%= page_classes.gsub(/_/, '-') %>">
    <div id="page" class="container" role="document">

      <%= yield %>

    </div><!-- .container -->
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>

  <%= javascript_include_tag "base" %>

  <%= yield_content :scripts %>
</html>
