<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= current_page.data.title || "Middleman" %></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "base" %>

    <%= javascript_include_tag 'modernizr-3.5.0.min' %>
  </head>

  <body class="<%= page_classes.gsub(/_/, '-') %>">
    <div id="page" class="container" role="document">

      <%= yield %>

    </div><!-- .container -->

    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script> -->
    <%= javascript_include_tag "base" %>

    <%= yield_content :scripts %>
  </body>
</html>
